<div class="list-students-and-teachers">
  <div>
    <%= link_to "List All Students".html_safe, students_path %>
  </div>
  <div>
    <%= link_to "List All Teachers".html_safe, teachers_path %>
  </div>
</div>